# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/obj/*

# Binaries
**/bin/
!/vendor/bin

# Intermediate
bin-int/

# Compiled SPIR-V shaders
*.spv 

#Examples files
examples/Sandbox/logs/